<h1>POST Request Received</h1>

<table border="1px solid black">
  <tr>
    <th> Parameter </th>
    <th> Value </th>
  </tr>
  {{#each dataList}}
  <tr>
    <td>{{this.name}}</td><td>{{this.value}}</td>
  </tr>
  {{/each}}
</table>
URL DATA <br>
<table border="1px solid black">
  <tr>
    <th> Parameter </th>
    <th> Value </th>
  </tr>
  {{#each dataList2}}
  <tr>
    <td>{{this.name}}</td><td>{{this.value}}</td>
  </tr>
  {{/each}}
</table>